body {
     background-color: #00FA9A;
            margin: 20%;
}	

header {
            text-align: center;
            text-shadow: 5px 5px 10px white;
            font-size: 7vh;
        }

#tribute-info {
     font-size: 17px;
            font-family: Gill Sans;
            color: black;
}

#tribute-info img {
    display: inline-block;
            width: 100%;
	
}
#tribute-info{
	background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 20px 20px 20px #98FB98;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
        }
h1.title-sm {
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 5px 5px 10px black;
        }
#admirable-qualities {
    background-color:#00FA9A;
    padding: 2em;
	text-align: center;
}

#admirable-qualities h2 {
    color: #333;
}

#admirable-qualities ul {
    list-style-type: none;
    padding: 0;
}

#admirable-qualities li {
    margin-bottom: 10px;
}

#tribute-quote {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

